# Factory provisioning app -- smaller footprint, provisioning only.
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_factory.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_TW_TRANSPORT_BLE=y
CONFIG_TW_TRANSPORT_BLE_PROVISIONING=y
CONFIG_TW_TRANSPORT_WIFI=y
CONFIG_TW_PROVISION_SOFTAP=y
CONFIG_TW_OTA_ENABLED=n
CONFIG_TW_APPLET_ENABLED=n
CONFIG_TW_POWER_DEEP_SLEEP=n
